<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedido">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<&#45;&#45; @style/Theme.AppCompat.DayNight.NoActionBar&ndash;&gt;-->
        <activity android:name=".FormPedidos"></activity>
        <activity android:name=".PedidoActivity" />
        <activity android:name=".FormClientes" />
        <activity android:name=".ClienteActivity" />
        <activity android:name=".FormProdutos" />
        <activity android:name=".ProdutoActivity" />
        <activity android:name=".DashbordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>